.git
.git/
.pytest_cache/
.mypy_cache/
.ruff_cache/
__pycache__/
*.pyc
*.pyo
*.pyd

dataset
dataset/
models/
model/
checkpoints/
wandb/
runs/
ray_results/
logs/
outputs/
tmp/
cache/
.cache/
.hf_cache/

*.ckpt
*.pt
*.pth
*.bin
*.safetensors

data/*
