<?xml version="1.0"?>
<model>
  <name>GSI Search SUV</name>
  <version>1.0</version>
  <sdf version="1.9">../../../yellow_search_van.sdf</sdf>
  <author>
    <name>Nate Koenig / OpenRobotics</name>
    <email>nate@osrfoundation.org</email>
  </author>
  <description>Static SUV visual used as the GSI search target.</description>
</model>
