<?xml version="1.0"?>

<window>
  <width>1280</width>
  <height>720</height>
  <style
    material_theme="Dark"
    material_primary="Grey"
    material_accent="LightBlue"
    toolbar_color_dark="#25282b"
    toolbar_text_color_dark="#f3f3f3"
  />
  <dialog_on_exit>false</dialog_on_exit>
</window>

<plugin filename="MinimalScene" name="3D View">
  <gz-gui>
    <title>Yungu Search Demo</title>
    <property type="bool" key="showTitleBar">false</property>
    <property type="string" key="state">docked</property>
  </gz-gui>
  <engine>ogre2</engine>
  <scene>scene</scene>
  <ambient_light>0.4 0.4 0.4</ambient_light>
  <background_color>0.8 0.8 0.8</background_color>
  <camera_pose>30 78 8 0 0.44 0.785</camera_pose>
</plugin>

<plugin filename="GzSceneManager" name="Scene Manager">
  <gz-gui>
    <property key="state" type="string">floating</property>
    <property key="showTitleBar" type="bool">false</property>
  </gz-gui>
</plugin>

<plugin filename="InteractiveViewControl" name="Interactive view control">
  <gz-gui>
    <property key="state" type="string">floating</property>
    <property key="showTitleBar" type="bool">false</property>
  </gz-gui>
</plugin>

<plugin filename="CameraTracking" name="Camera Tracking">
  <gz-gui>
    <property key="state" type="string">floating</property>
    <property key="showTitleBar" type="bool">false</property>
  </gz-gui>
</plugin>

<plugin filename="Screenshot" name="Screenshot">
  <gz-gui>
    <property key="state" type="string">floating</property>
    <property key="showTitleBar" type="bool">false</property>
  </gz-gui>
</plugin>

<plugin filename="ImageDisplay" name="Onboard RGB Camera">
  <gz-gui>
    <title>UAV onboard RGB camera: /gsi/rgbd/image</title>
    <property key="state" type="string">floating</property>
    <property key="width" type="double">640</property>
    <property key="height" type="double">480</property>
    <property key="x" type="double">620</property>
    <property key="y" type="double">20</property>
  </gz-gui>
  <topic>/gsi/rgbd/image</topic>
  <topic_picker>false</topic_picker>
</plugin>

<plugin filename="ImageDisplay" name="Nadir Confirmation Camera">
  <gz-gui>
    <title>90-degree confirmation camera: /gsi/nadir</title>
    <property key="state" type="string">floating</property>
    <property key="width" type="double">640</property>
    <property key="height" type="double">480</property>
    <property key="x" type="double">20</property>
    <property key="y" type="double">20</property>
  </gz-gui>
  <topic>/gsi/nadir</topic>
  <topic_picker>false</topic_picker>
</plugin>
